[Desktop Entry]
Name=Steam Watchdog
Exec=PLACEHOLDER
Icon=steam_watchdog
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=false
